@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(imgs/1.jpg) no-repeat center/cover;
    font-family: "Poppins";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Weather */
.hot {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(imgs/1.jpg) no-repeat center/cover;
}

.hot #weather {
    background: url(imgs/1.jpg) no-repeat center/cover;
}

.warm {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(imgs/2.jpg) no-repeat center/cover;
}

.warm #weather {
    background: url(imgs/2.jpg) no-repeat center/cover;
}

.cool {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(imgs/3.jpg) no-repeat center/cover;
}

.cool #weather {
    background: url(imgs/3.jpg) no-repeat center/cover;
}

.cold {
    background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(imgs/4.jpg) no-repeat center/cover;
}

.cold #weather {
    background: url(imgs/4.jpg) no-repeat center/cover;
}
#weather {
    width: 350px;
    border-radius: 10px;
    padding: 30px 40px;
    background: url(imgs/1.jpg) no-repeat center/cover;
}

#weather .search {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    border-radius: 0 15px 0 15px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.4);
    transition: 0.5s;
    font-size: 19px;
}

#weather .search:focus {
    background: rgba(255,255,255,0.7);
    border-radius: 15px 0 15px 0;
}

.content {
    text-align: center;
    margin: 40px 0;
    transition: 0.4s;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.location {
    text-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}

.time {
    margin: 10px 0;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

.temperature {
    margin: 0 auto;
    width: 80%;
    font-size: 55px;
    text-shadow: 4px 4px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    padding: 20px;
    background: rgba(255,255,255,0.7);
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}

.short-desc {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    margin: 20px 0 ;
}

.more-desc {
    display: flex;
    justify-content: space-between;
}

.more-desc div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.more-desc div i {
    margin: 10px 0;
}