@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');

:root{
    --purple-color:  #AF7AC5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #17a2b8;
    font-family: "Poppins";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    font-size: 36px;
    background: white;
    color: #17a2b8;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-weight: bold;
}
.hide {
    display: none;
}

.detail {
    display: flex;
}

.box {
    margin: 0 auto;
}

.box .result {
    width: 250px;
    height: 250px;
    border: 7px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 600;
    margin: 50px auto;
}

.card {
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    margin: 0 20px;
}

.card p{
    padding: 10px;
    text-align: center;
    color: black;
}

.card p:first-child {
    background: #78c0c9;
    color: white;
}